.root {
  /* background-color: rgb(196, 196, 196); */
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(244, 244, 244);
  padding: 4px;
  border-radius: 8px;
}

@media (min-width: 320px) {
  .root {
    position: fixed;
    height: 80px;
    top: 0;
  }
}

@media (min-width: 700px) {
  .textField {
    width: 400px;
  }
}