.root {
  /* background-color: rgb(196, 196, 196); */
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(201, 201, 201);

  /* Adjust the blur amount as needed */
  /* background: rgba(255, 0, 0, 0.9); */
  /* Red color with 0.9 opacity */
  padding: 4px;
  /* Adjust padding as needed */
  border-radius: 8px;
  /* Optional: Add border-radius for rounded corners */
}

@media (min-width: 320px) {
  .root {
    position: fixed;
    height: 80px;
    bottom: 0;
  }
}

@media (min-width: 700px) {
  .textField {
    width: 400px;
  }

  .root {
    position: static;
    bottom: auto;
    height: 120px;
  }
}


@media (min-width: 1320px) {

  .root {
    height: 130px;
    width: 1220px;
  }
}