.root {
  background-color: rgb(196, 196, 196);
  height: 55px;
  width: 100%;
}

@media (min-width: 320px) {
  .root {
    position: fixed;
    bottom: 0;
  }
}

@media (min-width: 700px) {

  .root {
    position: static;
    bottom: auto;
    height: 120px;
    width: 90%;
  }
}


@media (min-width: 1320px) {
  .root {
    height: 130px;
    width: 1220px;
  }
}