.root {
  background-color: green;
  width: 100%;
  padding: 30px 10px;
}

@media (min-width: 320px) {
  .root {
    margin-top: 36px;
  }
}

@media (min-width: 700px) {
  .root {
    width: 90%;
  }
}

@media (min-width: 1320px) {
  .root {
    width: 1220px;
  }
}